folder0/URLS/*
folder0/portadas/*
folder1/URLS/*
folder1/portadas/*
folder2/URLS/*
folder2/portadas/*
folder3/URLS/*
folder3/portadas/*
folder4/URLS/*
folder4/portadas/*

# Except the .gitkeep files
!folder0/URLS/.gitkeep
!folder0/portadas/.gitkeep
!folder1/URLS/.gitkeep
!folder1/portadas/.gitkeep
!folder2/URLS/.gitkeep
!folder2/portadas/.gitkeep
!folder3/URLS/.gitkeep
!folder3/portadas/.gitkeep
!folder4/URLS/.gitkeep
!folder4/portadas/.gitkeep


.venv/
.git/
.gitignore

