0/portadas/*
1/portadas/*
2/portadas/*
3/portadas/*
4/portadas/*

# Except the .gitkeep files
!0/portadas/.gitkeep
!1/portadas/.gitkeep
!2/portadas/.gitkeep
!3/portadas/.gitkeep
!4/portadas/.gitkeep


.venv/
.git/
.gitignore

